<div class="text-7xl font-black text-center">Checkout;</div>
{{#if invalid}}
    <!--Show error if invalid password-->
    <div class="text-red-600 font-light text-md pt-3 text-center">INVALID PASSWORD. TRY AGAIN.
    </div>
{{/if}}
<div class="text-black font-light text-md pt-3 text-center">Enter your customer ID & Password to complete your
    transaction:
</div>
<div class="flex items-center justify-center px-4 py-3">
    <div class="w-1/2 mx-auto shadow-lg rounded-md p-4 bg-white">
        <form method="post" action="customerAuth" class="flex flex-col items-center">
            <div class="relative flex-1">
                <label for="customerId"
                       class=" left-2 px-1 -top-2.5 bg-white text-black text-sm transition-all">
                    CustomerID :
                </label>
                <input id="customerId" name="customerId" type="text"
                       class=" h-12 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 transition ease-in duration-100 p-3"
                       placeholder="Eg: 123, 456, etc.">
            </div>
            <div class="relative flex-1 flex-row">
                <label for="password"
                       class="left-2 px-1 ml-5 -top-2.5 bg-white text-black text-sm transition-all">
                    Password :
                </label>
                <input id="password" name="password" type="password"
                       class="h-12 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 transition ease-in duration-100 p-3 m-3 ml-2">
            </div>
            <div class="flex gap-2 flex-row-center content-evenly">
                <div class="relative flex-1 pt-7">
                    <button type="submit" class="bg-black text-white font-extrabold text-md px-4 py-2">Submit</button>
                    <button type="reset" class="outline-black text-black font-extrabold text-md px-4 py-1">Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
