<div class="flex items-center justify-center h-screen">
    <div class="flex flex-col">
        <div class="text-black font-black text-9xl">Bytesized;</div>
        <div class="text-black font-light text-md pt-3 text-center">the one-stop shop for programmer snacks</div>
    </div>
    <div class="flex flex-col">
        <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 py-3
        hover:bg-black hover:text-white transform hover:scale-110">
            <a href="/listprod">Begin Shopping</a>
        </button>
        <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
        hover:bg-black hover:text-white transform hover:scale-110">
            <a href="/listorder">List All Orders</a>
        </button>
    </div>
</div>
