<div class="text-7xl font-black text-center">Login;</div>
<div class="text-black font-light text-md pt-3 text-center">Please Login to System:
    {{#if loginMessage}}
        <p class="text-red-600 font-semibold">{{loginMessage}}</p>
    {{/if}}
</div>
<div class="flex items-center justify-center px-4 py-3">
    <div class="w-1/2 mx-auto shadow-lg rounded-md p-4 bg-white">
        <form method="post" action="validateLogin" class="flex flex-col items-center">
            <div class="relative flex-1">
                <label for="username"
                       class=" left-2 px-1 -top-2.5 bg-white text-black text-sm transition-all">
                    Username:
                </label>
                <input id="username" name="userId" type="text"
                       class=" h-12 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 transition ease-in duration-100 p-3"
                       placeholder="Eg: 123, 456, etc.">
            </div>
            <div class="relative flex-1 flex-row">
                <label for="password"
                       class="left-2 px-1 -top-2.5 bg-white text-black text-sm transition-all">
                    Password :
                </label>
                <input id="password" name="pass" type="password"
                       class="h-12 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 transition ease-in duration-100 p-3 mt-3">
            </div>
            <div class="flex gap-2 flex-row-center content-evenly">
                <div class="relative flex-1 pt-7">
                    <button type="submit" class="bg-black text-white font-extrabold text-md px-4 py-2">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>
