<body>
<h1 align="center"><b>Order Page</b></span></h1>

<p>Your customer ID is: {{this.validIDstr}}</span></p>
<p>Number of Items in Cart: {{this.cartSize}}</span></p>
<p>The cart subtotal is: {{priceFormat this.totalAmount}}</p>
<p>Your order ID is: {{this.orderId}}</p>
</body>