<div class="text-7xl font-black text-center">Your Account;</div>
{{#if user}}
    <div class="text-black font-light text-md pt-3 text-center text-4xl">Welcome, {{user}}
        {{#if updateAccMessage}}
            <p class="text-red-600 font-semibold">{{updateAccMessage}}</p>
        {{/if}}
    </div>
    <div class = "class=w-1/2 mx-auto shadow-lg rounded-md p-4 bg-white">
    <div class="flex justify-center">
        <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
            hover:bg-black hover:text-white transform hover:scale-110 text-3xl">
                <a href="/customer">My Info</a>
        </button>
    </div>
    <div class="flex justify-center">
        <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
            hover:bg-black hover:text-white transform hover:scale-110 text-3xl">
                <a href="/admin">Admin Info</a>
        </button>
    </div>
    <div class="flex justify-center">
        <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
            hover:bg-black hover:text-white transform hover:scale-110 text-3xl">
                <a href="/editInfo">Edit Current Info</a>
        </button>
    </div>
    <div class="flex justify-center">
        <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
            hover:bg-black hover:text-white transform hover:scale-110 text-3xl">
                <a href="/listCustOrders">See Orders</a>
        </button>
    </div>
    </div>
{{else}}
    <p>Please login to continue</p>
{{/if}}